@model IEnumerable<BlogPosts.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posts</h1>

<form asp-controller="Posts" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" id="postTitle" name="postTitle" class="btn btn-outline-primary" placeholder="Enter your keyword" aria-describedby="basic-addon1" />
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search for post</button>
        </div>
    </div>
</form>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Post ID: @item.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.PostName</h5>
                    <p class="card-text">
                        @{
                            var desc = item.PostDescription;
                        }
                        @desc.Substring(0, 50)....
                    </p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#postTitle").autocomplete({
                source: 'api/postapi/search'
            });
        });
    </script>
}


