@model IEnumerable<BlogPosts.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posts</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Post ID: @item.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.PostName</h5>
                    <p class="card-text">
                        @{
                            var desc = item.PostDescription;
                        }
                        @desc.Substring(0, 100)....
                    </p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    }
</div>

